<mat-toolbar  class="toolbarStyle"  color="accent">
    <marquee>
      <p>
          The final round of counselling will be held before August 14, 2018. Candidates are directed to keep checking the website on updates
           </p>
    </marquee>
</mat-toolbar>
<div class="main__layout" >
  <article class="prospectus">
    <h2>IMPORTANT INSTRUCTION FOR CANDIDATES BEFORE APPLYING ONLINE</h2>
    <ul class="list-style">
      <li class="list-item-group"><a href="#">List of Candidates Admitted</a></li>
      <li class="list-item-group"><a>Hostel & Mess rules</a></li>
      <li class="list-item-group"><a>Revised Waiting List for 2nd Counselling</a></li>
      <li class="list-item-group"><a>Waiting List for 2nd Counselling</a></li>
      <li class="list-item-group"><a>Counselling Scheduled</a></li>
      <li class="list-item-group"><a>Prospectus</a></li>
      <li class="list-item-group"><a>Corrigendum</a></li>
    </ul>
    <h2>Keep the following items in your hand before applying:</h2>
    <p>Email id</p>
    <p>Mobile number</p>
    <p>Scanned Photo</p>
    <p>Scanned signature</p>
    <p>Credit card, Net-banking or ATM-cum-Debit card</p>
  </article>
  <article style="width: 31%;margin: 16px;">
    <div class="login__form">
        <mat-form-field>
            <input matInput type="text" style="width:90%" placeholder="Registration Number">
          </mat-form-field>

          <mat-form-field>
              <input matInput  type="password" style="width:90%" placeholder="password">
            </mat-form-field>
    </div>
     <div>
       <img src="../../assets/images/help.png" width="325"/>
     </div>
  </article>
</div>