<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
     
       <div  > 
         <button mat-mini-fab color="warn"  (click)="onSideNavButtonClick()" color="accent">
           <mat-icon>menu</mat-icon>
        </button>
      </div>
       <div><a routerLink="/">LOGO</a></div>
       <div  fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="10px" fxHide.xs>
         <a *ngIf="!isAuth" routerLink="/signup">Signup</a>
         <a *ngIf="isAuth" routerLink="/training">Training</a>
         <a *ngIf="!isAuth" routerLink="/login">Login</a>
         <a *ngIf="isAuth" style="cursor: pointer;" (click)="onLogout()">Logout</a>
         <a *ngIf="isAuth" routerLink="/welcome">Welcome</a>
       </div>
    </mat-toolbar-row>
</mat-toolbar> -->



<header >
  <div class="headerCls">
      <div class="logo1">
      </div>
      <div class="header__text">
         
              <h1>AHILYA BAI COLLEGE OF NURSING</h1>
              <h2>LOK NAYAK HOSPITAL, JAWAHAR LAL NEHRU MARG, NEW DELHI 110002</h2>
              <h3>UNIVERSITY OF DELHI</h3>
            
      </div>
      <div class="logo2">
        </div>
       
  </div>
  
 
</header>